.form {
    margin-bottom: 25px;
    padding-left: 20px;
  }
  
  .input {
    width: 250px;
    height: 30px;
  }
  
  .submit {
    height: 30px;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    background-color: #cccccc;
    cursor: pointer;
  
    &:hover {
      background-color: #aaaaaa;
    }
  }